@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgb(252, 252, 252);
}

#container {
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.4);
  margin: 20vh auto 20vh;
}

header {
  background-color: rgb(66, 75, 207);
  color: #fff;
  padding: 0 25px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0 0 5px;
  font-size: 1.2rem;
}

header p {
  margin: 0 0 25px;
  font-size: 0.9rem;
}

#search-bar {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 100%;
  font-size: 0.9rem;
}

#search-bar:focus {
  outline: none;
}

#card-container {
  max-height: 35vh;
  overflow-y: scroll;
}

.user-card {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.info {
  margin-left: 20px;
}

h2 {
  margin: 0 0 15px;
  font-size: 1.3rem;
}

.info p {
  margin: 0;
}